body {
    background-color: #f9fbff;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}

a, a:hover, a:visited, a:link, a:active {
    cursor: pointer !important;
    text-decoration: none !important;
    color: inherit !important;
}

.c-button {
    padding: 0;
    padding-left: 0.32em;
    padding-right: 0.25em;
}

.search-advanced {
    width: 30em;
}

.advanced-input {
    opacity: 0.75;
    padding-right: 5px;
}

.search-result {
    padding-top: 0.5em;
    height: 14em;
    border-bottom: 3px solid grey;
}

.actual-advanced-search {
    padding-right: 2em;
    margin-right: -1em;
}

.main-search {
    margin-top: 25em;
    width: 20em;
}

.search-title {
    padding: 0;
}

.facets {
    padding-top: 0.5em;
    background-color: white;
    border-right: 1px solid rgba(220,220,220, 0.5);
}

.resultlist {
    padding-top: 0.5em;
    padding-left: 2em;
    padding-right: 0;
    margin-left: 0;
    background-color: white;
    max-width: 65%;
}

.wordcloud {
    min-height: 750px;
    padding: 0;
    cursor: default;
    background-color: white;
}

.results {
    padding-top: 2.9em;
    /*height: 100em; // FIX THIS!*/
    margin: 0;
    /*background-color: white;*/
}

.resultitem {
    margin-top: 0;
    padding-top: 0;
    padding-left: 0.1em;
    margin-bottom: 3em;
}

h1, h2 {
    color: #25435A;
}

h3 {
    font-weight: normal;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #5B8EBF;
}

h4 {
    font-weight: normal;
    margin: 0;
    padding-bottom: 0.2em;
    opacity: 0.45;
}

h5 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.filler-oh-boy-this-is-hacky {
    background-color: white;
}

/*TIMELINE*/

#timeline {
    padding: 0;
    padding-left: 0.3em;
    padding-top: 2.5em;
}

/*Pagination*/
.c-pagination {
    border-top: 3px solid grey;
}

/* Modal */
.modal-container {
    visibility: hidden;
}
#modal-title {
    margin-top: 3em;
    margin-left: 2em;
}

#modal-date {
    margin-left: 2.5em;
    margin-right: 4.5em;
    margin-top: 0.5em;
    margin-bottom: 0.75em;
    padding-bottom: 0.65em;
    border-bottom: 1px solid grey;
}

#modal-text {
    margin-left: 2.5em;
    margin-right: 4.5em;
    font-size: 14pt;
    text-align: justify;
    line-height: 1.65em;
    margin-top: 2.75em;

}

#modal-buttons {
    padding: 3em;
    margin-bottom: 2em;
}

#judge-button {
    padding: 0.75em;
}

.c-button--close {
    font-size: 32pt;
}
