<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Telegraaf Search</title>

    <!-- BlazeCSS Framework -->
    <link rel="stylesheet" href="https://unpkg.com/blaze">

    <!-- Font-awesome icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Load c3.css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css" rel="stylesheet" type="text/css">

    <!-- App CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
