{% include 'header.html' %}
<body class="c-text">
    <main class="u-center-block">
        <div class="u-center-block__content main-search">
            <h1 class="c-heading search-title">Telegraaf Search</h1>
            <form action="/result" method="POST">
                <div class="o-form-element">
                    <div class="c-input-group">
                        <div class="o-field">
                            <input id="query_string" name="query" class="c-field">
                        </div>
                        <button type="submit" class="c-button c-button--brand"><i class="fa fa-fw fa-search c-icon"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>
{% include 'scripts.html' %}
</html>
