<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Telegraaf Search</title>

    <!-- BlazeCSS Framework -->
    <link rel="stylesheet" href="https://unpkg.com/blaze">

    <!-- Font-awesome icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- App CSS -->
    <link rel="stylesheet" href="../css/main.css">

</head>
<body class="c-text">
    <main class="u-center-block">
        <div class="u-center-block__content main-search">
            <h1 class="c-heading search-title">Telegraaf Search</h1>
            <form action="#">
                <div class="o-form-element">
                    <div class="c-input-group">
                        <div class="o-field">
                            <input class="c-field">
                        </div>
                        <button class="c-button c-button--brand"><i class="fa fa-fw fa-search c-icon"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>
</html>
